*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
:root{
    /* Color styles */
    --primary-color: #FFFFFF;
    --bg-section: #F6F6F6;
    --bg-footer: #23272A;
    --dark-text: #000000;
    --bg-header: #2A5EE8;
    --light-bg: #7289DA;
    }
    /* utilities */
.container{            
    max-width: 1400px;
    margin: 0 auto;
}
.w-text{
    color: var(--primary-color);
}
.v-text{
    color: var(--light-bg);
}
.button.white{
    background-color: var(--primary-color);
}
.b-text{
    color: var(--dark-text);
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.text-c{
    text-align: center;
}
.button{
    padding: 10px;
    border-radius: 30px;
    margin: 8px;
}
.little-text{
    font-size: 0.7rem;
}
a{
    text-decoration: none;
}
.button.black{
    background-color: var(--bg-footer);
}
.button.blue{
    background-color: var(--light-bg);
}
/* header */
header{
    background-color: var(--bg-header);
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}
ul{
    list-style: none;
}
header li{
    margin: 30px;
}
nav.d-flex{
    justify-content: space-between;
}
header section{
    width: 50%;
    margin: 0 auto;
}
section{
    padding-top: 80px;
}
section h1{
    padding: 20px;
    font-size: 2.5rem;
}
.header-buttons{
    padding-bottom: 90px;
}
/* main */
h2{
    font-size: 2.5rem;
}
div.section-footer h3{
    font-size: 1.4rem;
}
section p{
    padding-top:20px;
}
article{
    max-width: 25%;
}
article.maxed{
    max-width: 80%;
    text-align: center;
}
main>div:nth-child(even){
    background-color: var(--bg-section);
}
.flexed-article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
div.section-footer button{
    margin: 30px;
    border: 0px;
    width: fit-content;
    text-align: center;
}
.section-footer{
    padding-top: 35px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 4rem;
}
/* footer */
footer{
    background-color: var(--bg-footer);
}
ul.d-flex>li{
    max-width: calc(100% / 5);
    color: var(--primary-color);
    font-size: 0.8rem;
}
footer ul.d-flex{
    align-items: flex-start;
    justify-content: space-between;
}
li>h3{
    font-size: 1.7rem;
}
footer li{
    padding-top: 10px;
    
}
div.bottom-footer{
    padding-top: 10px;
    padding-bottom: 40px;
    justify-content: space-between;
}
footer hr{
    border-color: var(--light-bg);
    margin-top: 30px;
}
select{
    background-color: var(--bg-footer);
    color: var(--primary-color);
    border:0px;
}
footer li img{
    width:20px
}
footer div.container{
    padding-top: 50px;
}
i{
    padding: 10px;
}